*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Navigation bar */
.nav-bar{
    height: 65px;
    width: 100%;
    background-color: rgb(30, 29, 29);
    padding-left: 1%;
    padding-right: 10%;
    position: fixed;
}
.tabs{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabs a{
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    padding: 10px;
}
.logo{
    border: 2px solid transparent;
    padding: 5px;
}
.logo:hover{
    border: 2px solid white;
    border-radius: 2px;
}
.tabs a:hover{
    color: aquamarine;
    border: 2px solid white;
    border-radius: 2px;
}
.logo{
    height: 50px;
    display: flex;
    color: white;
    align-items: center;
}

main{
    padding-top: 10%;
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(231, 231, 241);
 height: 100vh;
color: blueviolet;
}
form{
 height: 90vh;
width: 90%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
background-color: lavender;
border: 2px solid rgb(192, 192, 248);
 border-radius: 10px;
color: black;
}
.sizing{
 width: 100%;
padding: 20px;
}
.heading{
 background-color: rgb(220, 205, 235);
 padding: 5px;
height: 30px;
font-weight: 600;
}
.name{
 display: flex;
justify-content: space-between;
margin-top: 16px;
margin-bottom: 5px;
}
.name p input{
 height: 30px;
width: 250px;
margin-left: 116px;
}
.myinfo{
 width: 450px;
}
.myinfo P{
 margin: 0 0 5px 0;
}
.name p, .myinfo p{
 display: flex;
justify-content: space-between;
}
.myinfo p input{
 height: 30px;
width: 250px;
}
.academic select{
 height: 30px;
width: 250px;
}
/* Css for personal details */
.parent_info{
 display: flex;
justify-content: space-between;
padding-top: 15px;
padding-right:20%;
}
.parent_name{
 width: 41%;
}
 .parent_name p{
 margin-top: 10px;
display: flex;
justify-content: space-between;
}
.parent_name p input{
 height: 30px;
width: 250px;
}
.contact_info{
 margin-left: 500px;
width: 90%;
}
.contact p{
 display: flex;
justify-content: space-between;
margin-top: 15px;
}
.contact p input{
 height: 30px;
width: 250px;
}
/* Address css */
.address{
 width: 100%;
}
.address .p_address{
 padding-left: 10px;
padding-top: 15px;
height: 100%;
width: 100%;
/* background-color: blueviolet; */
display: flex;
flex-direction: column;
}